.navbar-logo {
  height: 50px;   /*todas del mismo tamaño*/
  width: auto;
  transition: transform 0.3s ease; /*efecto al pasar el ratón*/
}

.navbar-logo:hover {
  transform: scale(1.1); /*un poco más grande al pasar el ratón*/
}


