<nav class="navbar navbar-dark bg-dark shadow py-3">
  <div class="container d-flex align-items-center justify-content-center position-relative">

    <!--Imagen a la izquierda-->
<img src="assets/gym.jpg" alt="Logo" class="navbar-logo position-absolute start-0" height="50">

    <!--Título centrado-->
    <a class="navbar-brand mx-auto fs-3 fw-bold text-uppercase text-white text-center">
      <strong>Productos y Máquinas</strong><span class="text-warning">SeniorGym</span>
    </a>

  </div>
</nav>
