<nav class="navbar navbar-dark bg-dark shadow py-3">
  <div class="container-fluid position-relative d-flex align-items-center">

    <!--grupo de logos a la izquierda-->
    <div class="d-flex align-items-center gap-3">
      <img src="/gym.png" alt="Logo 1" class="navbar-logo">
      <img src="/brazologo.png" alt="Logo 2" class="navbar-logo">
      <img src="/pesalogo.png" alt="Logo 3" class="navbar-logo">
      <img src="/ultimologo.png" alt="Logo 4" class="navbar-logo">
    </div>

    <!--título absolutamente centrado en la barra-->
    <a class="navbar-brand position-absolute top-50 start-50 translate-middle fs-3 fw-bold text-uppercase text-white text-center">
      <strong>Accesorios y Máquinas </strong>
      <span class="text-warning">SeniorGym</span>
    </a>

  </div>
</nav>
