<!--Estructura de el main   LATIZQ -> FILTROS , LATDRCH -> LOGIN Y MISCOMPRASM, Y MEDIO PRODUCTOS Y EL PANELADMINISTRADOR DEL SUPERUSUARIO-->
<div class="container my-4"> <!--centra el contenido horizontalmente-->
 <div class="row"> <!--lo divides columnas-->

  <div class="col-12 col-md-3 mb-4 mb-md-0">
    <app-latizq></app-latizq>
  </div>


  <div class="col-12 col-md-6 mb-4 mb-md-0">
    <app-medio></app-medio>
  </div>


  <div class="col-12 col-md-3">
    <app-latdrch></app-latdrch>
  </div>

 </div>
</div>

